# Node
/node_modules
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# IDE
.idea/
.vscode/
*.code-workspace

# Compiled output
/dist
/tmp
/out-tsc

# MySQL
*.sql
*.sqlite

# Uploads
/uploads/*
!/uploads/.gitkeep

# System Files
.DS_Store
Thumbs.db